name: CICD

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
    - master
    - staging
    - develop
  pull_request:
    branches:
    - master
    - staging
    - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - uses: actions/setup-go@v3
      with:
        go-version: ./go.mod
    
    - name: Install dependencies
      run: |
        go version
        go get -u golang.org/x/text/language
        
    - name: Run build
      run: go build .       

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest       